<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesCodeSigningCertificate</key>
    <string>-----BEGIN CERTIFICATE-----&#xD;
MIIC1TCCAb2gAwIBAgIJfEotCdSnUUCLMA0GCSqGSIb3DQEBCwUAMBMxETAPBgNV&#xD;
BAMTCEFxdWFyZXVtMCAXDTI0MDYyNjAwMTI0MFoYDzIxMjQwNjI2MDAxMjQwWjAT&#xD;
MREwDwYDVQQDEwhBcXVhcmV1bTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC&#xD;
ggEBANUPqJPf9Jwk/tQLuQq7bFviwIHCWNWQe4d6uMr3fPWDKp6hlg7iH1qT87K8&#xD;
YssnZR66LfjJZcO8ua3Y+uv/5i4CabM5XXaCZLao6VYDqNOqrB6w3KfJGDLOWHeu&#xD;
hgh5gps2a8TXgwQ9U3176RhQQDiIImiQLfgjLlqrlbqO/IAdT2YHL+WhqtCe55PJ&#xD;
cNUkjIemjsege/652xOT0dwMU1hja4dygUkVJlyFodZXFMbq4ssWNmTv+zFVwr1e&#xD;
fRxts/Pa1aQocifHUbHDArVx0DUfVCgYcY6/Agis0RYzO/2LJBzXIpqL4kTXLB+R&#xD;
8fd5CgpUkl74CunPFVM0sx1q4r0CAwEAAaMqMCgwDgYDVR0PAQH/BAQDAgeAMBYG&#xD;
A1UdJQEB/wQMMAoGCCsGAQUFBwMDMA0GCSqGSIb3DQEBCwUAA4IBAQDQo/Mc/bpA&#xD;
2EnfJdNVu44qmz9hZ7wdNeB5zjN8a847ol5PaEKEjU3TjqB2BDlOWwPaNaoSsP6x&#xD;
FdB4Kjp4ee5DOWaO8goQy5JPVm6+pZ00oPHxZbZl7J75l5Rfq3onQxiLs2hWM3kh&#xD;
cb1GXdBYT7246snrUyMVRubJpZZI6gRApBdXBzNFvib8LsaPcCFLINFzH9OlYbyQ&#xD;
y19F+sYN9VgLFGDKogdtJ4b8n/XpzqCG8iyXVsxnaCBcjrsEHXvtJXykggLCpAzK&#xD;
dpMWBnYHvuDz+Ggbf0HrnUeEqD1Dh87O6dXacbtO0bclClmsg9xWlZ8Tl+H0U7Yj&#xD;
gfgSR/G5d+YX&#xD;
-----END CERTIFICATE-----&#xD;
</string>
    <key>EXUpdatesCodeSigningMetadata</key>
    <dict>
      <key>keyid</key>
      <string>main</string>
      <key>alg</key>
      <string>rsa-v1_5-sha256</string>
    </dict>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesRuntimeVersion</key>
    <string>0.0.1</string>
    <key>EXUpdatesURL</key>
    <string>https://aquareum.tv/app-updates</string>
  </dict>
</plist>